*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a{
    text-decoration: none;
    color: black;
}
header{
    width: 100%;
    /* position: fixed;
    top: 0;
    left: 0;
    z-index: 2; */
    display: flex;
    justify-content: space-between;
}

.header-left, .header-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left *:not(img){
    padding: 0.3rem;
    margin: 1.3rem;
}

.header-right p{
    margin: 1.3rem;
}

.inizia{
    background-color: rgb(0, 97, 255);
    color: white;
    padding: 0.5rem;
}



/* HEADER STYLE END--------------------------------------------- */

/* JUMBOTRON STYLE --------------------------------------------------- */
.jumbotron{
    width: 100%;
    height: 45vh;
    background-color: rgb(180, 208, 231);
}

.jumbo-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


 h1{
    text-align: center;
    font-weight: 900;
}
.jumbo-content{
    display: flex;
    justify-content: center;
    max-width: 700px;
    max-height: 350px;
    margin: 2rem auto;
}

/* dimensioni provvisorie perchè senno smarmella */
.jumbotron img{
    width: 100%;
    height: 150%;
}

.blue-button{
    background-color: rgb(0, 97, 255);
    color: white;
    width: 60%;
    padding: 0.6rem 0.3rem;
    text-align: center;
}





/* JUMBOTRON END STYLE------------------------------------------------ */

/* OFFER PLAN STYLE----------------------------------------------------- */

.offer-plan{
    width: 100%;
}


.fa-check{
    color: rgb(0, 88, 255);
}
.plan-option{
    margin-top: 5rem;
    width: 1200px;
    margin: 7rem auto;
}

.user-plan, .column-left, .column-center, .column-right,  .enterprise-offer{
    border: solid 1px grey;
}

.row-offer{
    width: 1200px;
    height: 600px;
    margin: 0 auto;
    display: flex;
}

.row-offer a{
    color: blue;
    text-decoration-line: underline;
}



.row-offer hr{
    width: 10%;
}

.enterprise-offer{
    width: 1200px;
    margin: 0 auto;
}



/* ------------------------------------------------------------------ */

/* PARTNERING STYLE ------------------------------------------------- */


.partnering-container{
    border: 1px dashed black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 600px;
    margin: 0 auto;
}

.partnering-left{
    width: 70%;
    height: 70%;
    /* border: 1px dashed crimson; */
}

.partnering-left img{
    width: 100%;
    height: 100%;
}


.partnering-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 1px solid violet; */
}

.partnering-right *{
    padding: 2rem;
}

.partnering-right p{
    width: 44%;
}

.partnering-right a{
    border: 1px solid black;
    padding: 0.6rem 0.3rem;
    width: 20%;
    margin-left: 2rem;
}

/* ----------------------------------------------------------- */

/* DROPBOX BUSINESS STYLE -------------------------------------- */
.dropbox-business h3{
    text-align: center;
    font-weight: 900;
    height: 3rem;
    font-size: 1.5rem;
}
.business-card{
    width: 1200px;
    height: 600px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.card{
    width: calc(100% / 3);
    height: calc(100% / 2);
}

.card img{
  width: 50%;
  height: 50%;
}

.card p{
    width: 70%;
}

/* -------------------------------------------------------------- */

/* ABOUT CLIENTS STYLE------------------------------------------ */
.about-clients{
    height: 8rem;
    margin-top: 4rem;
    margin-left: 10rem;
    position: relative;  
}
.find-more{
    position: absolute;
    left: 13rem;
}

.find-more h3{
    margin-bottom: 2rem;
    font-size: 2rem;
}

.find-more a{
    color: blue;
    text-decoration: underline;
    font-size: 0.8rem;
}

/* -------------------------------------------------------------- */


/* SPONSOR STYLE---------------------------------------------- */

.sponsor{
    /* background-color: aqua; */
    width: 100%;
    height: 600px;
    display: flex;
    background-color: rgb(245, 245, 245);

}

.sponsor-left, .sponsor-right{
    display: flex;
    flex-wrap: wrap;
}

.sponsor-center{
    display: flex;
    flex-direction: column; 
    gap: 2rem;
    margin: 2rem;
    background-color: rgb(245, 245, 245);
}

.sponsor-left, .sponsor-center, .sponsor-right{
    width: calc(100% / 3);
    height: 100%;
}

.square-logo{
    width: calc(100% / 2);
    height: calc(100% / 2);
    display: flex;
    justify-content: center;
    align-content: center;
}

.sponsor-logo{
    width: 75%;
    height: 20%;
    align-self: center;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(5deg) brightness(102%) contrast(102%);
}

.sponsor-left div:first-child{
    background-color: rgb(162, 211, 155);
}

.sponsor-left div:nth-child(2){
    background-color: rgb(97, 8, 43);
}

.sponsor-left div:nth-child(3){
    background-color: rgb(0, 147, 206);
}

.sponsor-left div:last-child{
    background-color: rgb(255, 28, 28);
}

.sponsor-right div:first-child{
    background-color: rgb(213, 0, 31);
}

.sponsor-right div:nth-child(2) {
    background-color: rgb(180, 208, 231);
}

.sponsor-right div:nth-child(3) {
    background-color:rgb(13, 36, 129) ;
}

.sponsor-right div:last-child {
    background-color: rgb(255, 216, 48);
}


.sponsor-center div p{
    height: calc(100% / 3);    
}

.sponsor-center img{
    width: 50%;
    margin-top: 3rem;
}

.sponsor-center hr{
    width: 15%;
    margin-top: 2rem;
}
/* ------------------------------------------------------------- */

/* FREE TRIAL STYLE---------------------------------------------- */

.free-trial{
    background-color: rgb(180, 208, 231);
    height: 20rem;
    position: relative;
}

.free-trial-container{
    height: 100px;
    width: 600px;
    margin: 0 auto;
    /* text-align: center; */
    display: flex;
    gap: 8rem;
    position: absolute;
    top: 25%;
    left: 25%;
}
.free-trial a{
    background-color: white;
    padding: 0.3rem 0.7rem;
    align-self: center;
}

.free-trial h2{
    color: rgb(97, 8, 43);
    padding-top: 1.5rem;
}
/* --------------------------------------------------------------- */


/* FAQ STYLE ------------------------------------------------------- */
.faq{
    background-color: brown;
}
/* ------------------------------------------------------------------- */

/* FOOTER STYLE-------------------------------------------------------- */

footer{
    background-color: black;
    height: 400px;
}

.footer-row{
    display: flex;
    justify-content: space-between;
    width: 800px;
    margin: 0 auto;
}
footer h3, footer a,footer i{
    color: white;
    text-decoration: none;
}

.footer-card{
    display: flex;
    flex-direction: column;
}

.select-language{
    text-align: center;
}

