*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    border: 1px dashed black;
    /* height: 5rem; */
    width: 100%;
    /* position: fixed; */
    display: flex;
    justify-content: space-between;
}

.header-left{
    display: flex;
    justify-content: space-between;
}




/* HEADER STYLE END--------------------------------------------- */

/* JUMBOTRON STYLE --------------------------------------------------- */
.jumbotron{
    width: 100%;
    height: 45vh;
    border: 1px dashed black;
    background-color: rgb(180, 208, 231);
}

.jumbo{
    border: 1px dashed blue;
}





/* JUMBOTRON END STYLE------------------------------------------------ */

/* OFFER PLAN STYLE----------------------------------------------------- */
.offer-plan{
    background-color: yellow;
}
.month-plan>*, .annual-plan> *{
    display: inline-block;
}

.user-plan{
    border: solid 1px grey;
}

.plan-row-left{
    border: 1px solid black;
}