*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a{
    text-decoration: none;
    color: black;
}
header{
    width: 100%;
    /* position: fixed;
    top: 0;
    left: 0;
    z-index: 2; */
    display: flex;
    justify-content: space-between;
}

.header-left, .header-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left *:not(img){
    padding: 0.3rem;
    margin: 1.3rem;
}

.header-right p{
    margin: 1.3rem;
}

.inizia{
    background-color: rgb(0, 97, 255);
    color: white;
    padding: 0.5rem;
}



/* HEADER STYLE END--------------------------------------------- */

/* JUMBOTRON STYLE --------------------------------------------------- */
.jumbotron{
    width: 100%;
    height: 45vh;
    background-color: rgb(180, 208, 231);
}

.jumbo-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


 h1{
    text-align: center;
    font-weight: 900;
}
.jumbo-content{
    display: flex;
    justify-content: center;
    max-width: 700px;
    max-height: 350px;
    margin: 2rem auto;
}

/* dimensioni provvisorie perchè senno smarmella */
.jumbotron img{
    width: 100%;
    height: 130%;
}

.blue-button{
    background-color: rgb(0, 97, 255);
    color: white;
    width: 60%;
    padding: 0.6rem 0.3rem;
}





/* JUMBOTRON END STYLE------------------------------------------------ */

/* OFFER PLAN STYLE----------------------------------------------------- */


.plan-option{
    text-align: center;
    margin-top: 5rem;
}
.month-plan>*, .annual-plan> *{
    display: inline-block;
}

.user-plan{
    border: solid 1px grey;
}

.row-offer{
    border: 1px solid rgb(85, 17, 85);
    display: flex;
}

.plan-row-left{
    border: 1px dashed crimson;
}

.row-offer hr{
    width: 10%;

}

.enterprise-offer{
    border: 1px solid black;
}



/* ------------------------------------------------------------------ */

/* PARTNERING STYLE ------------------------------------------------- */


/* dare dimensioni container */
.partnering-container{
    border: 1px dashed black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 600px;
    margin: 0 auto;
}

.partnering-left{
    width: 70%;
    height: 70%;
    /* border: 1px dashed crimson; */
}

.partnering-left img{
    width: 100%;
    height: 100%;
}


.partnering-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 1px solid violet; */
}

.partnering-right *{
    padding: 2rem;
}

.partnering-right p{
    width: 44%;
}

.partnering-right a{
    border: 1px solid black;
    padding: 0.6rem 0.3rem;
    width: 20%;
    margin-left: 2rem;
}
/* SPONSOR STYLE---------------------------------------------- */

.sponsor{
    background-color: aqua;
}
/* ------------------------------------------------------------- */

/* FREE TRIAL STYLE---------------------------------------------- */

.free-trial{
    background-color: rgb(180, 208, 231);
}
/* --------------------------------------------------------------- */


/* FAQ STYLE ------------------------------------------------------- */
.faq{
    background-color: brown;
}
/* ------------------------------------------------------------------- */

/* FOOTER STYLE-------------------------------------------------------- */

footer{
    background-color: black;
}

.footer-row{
    border: 1px dashed red;
    display: flex;
    justify-content: space-between;
    width: 800px;
    margin: 0 auto;
}
footer h3, footer a,footer i{
    color: white;
    text-decoration: none;
}

.footer-card{
    display: flex;
    flex-direction: column;
}

.select-language{
    text-align: center;
}

